<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %black(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<property name="HOME_PATH" value=".target/" scope="CONTEXT" />
    <property name="MYAPP_LOG_FILE" value="javis.log" />
	
	
	<appender name="myAppender" class="ch.qos.logback.core.FileAppender">
		<!-- <file>target/javis.log</file> -->
				
        <file>${HOME_PATH}${MYAPP_LOG_FILE}</file>
        <fileNamePattern>${HOME_PATH}${MYAPP_LOG_FILE}.${MYAPP_ROLLING_TEMPLATE}</fileNamePattern>


		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%black(%d{HH:mm:ss.SSS} [%thread] %-5level	%black(%logger{36}) - %msg%n)</pattern>
		</encoder>
	</appender>

	<logger name="com.crawljax" level="INFO" />
	<logger name="ca.ubc.javis" level="TRACE" />


	<root level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>

 

    

    
